@using Mariage.Models
@using Mariage.Extensions

@model ICollection<Participation>

<div class="participations-container">
    <div id="participations" class="participations">
        <div class="participations-header">
            <div class="participations-header-field">Configuration</div>
            <div class="participations-header-field">Réponse</div>
        </div>
        <div class="participations-header">
            <div class="participations-header-field">Prénom</div>
            <div class="participations-header-field">Nom</div>
            <div class="participations-header-field">Midi</div>
            <div class="participations-header-field">+1</div>
            <div class="participations-header-field">Enfants</div>
            <div class="participations-header-field">Répondu</div>
            <div class="participations-header-field">Midi</div>
            <div class="participations-header-field">Soir</div>
            <div class="participations-header-field">+1</div>
            <div class="participations-header-field">Enfants</div>
        </div>
        @foreach(var participation in Model)
        {
            <div class="participation">
                <div class="participation-field">@participation.FirstName</div>
                <div class="participation-field">@participation.LastName</div>
                <div class="participation-field">@Html.YesNo(participation.IsInvitedToLunch)</div>
                <div class="participation-field">@Html.YesNo(participation.CanBringPlusOne)</div>
                <div class="participation-field">@Html.YesNo(participation.CanBringChildren)</div>
                <div class="participation-field">@Html.YesNo(participation.CompletedForm)</div>
                <div class="participation-field">@Html.YesNo(participation.WillAttendLunch)</div>
                <div class="participation-field">@Html.YesNo(participation.WillAttendDinner)</div>
                <div class="participation-field">@Html.YesNo(participation.PlusOne != null)</div>
                <div class="participation-field">@participation.ChildrenCount</div>
            </div>
        }
    </div>
</table>
<a id="addguest" href="@Url.Action("AddGuest")">Ajouter un invité</a>
@section scripts {
    <script src="~/script/guests.js" asp-append-version="true">        
    </script>
}