@{
    var descriptor = ((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor);
    var actionName = $"{descriptor.ControllerName}-{descriptor.ActionName}";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>@ViewBag.Title - Gilles &amp; Gaëlle</title>
        <link rel="stylesheet" href="/style/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/icons.css">
        <link rel="stylesheet" href="/style/app.css">
    </head>
    <body>
        <div class="background">
    </div>
    <div class="container @actionName">
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Index</a></li>
                <li><a asp-controller="Home" asp-action="Invite">Invitation</a></li>
                <li>Galerie photo</li>
                <li>Liste de mariage</li>
                @if(User.HasClaim("Admin","1"))
                {
                    <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                }
                @if(User.Identity.IsAuthenticated)
                {
                <li><a asp-controller="Account" asp-action="Logout">Déconnexion</a></li>
                }
            </ul>
        </nav>        
        <main>
            <div class="content">
                @if (actionName != "Home-Index")
                {
                    <header>
                        <span class="title">Gilles &amp; Gaëlle</span>
                        <span class="subtitle">10/10/2020</span>
                        <h1>@ViewBag.Title</h1>
                    </header>
                }
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="/script/main.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    </body>
</html>