@using Mariage.ViewModels
@using Mariage.Models
@model InvitationViewModel

@{
    var user = (MariageUser)ViewBag.User;
}

@if(user.Participation != null)
{
    @if (user.Participation.IsInvitedToLunch)
    {
        <p>
        Nous vous donnons rendez-vous à 10h40 à la maison des Mariages de Namur, <a href="https://www.google.be/maps/place/Maison+des+Mariages+de+Namur/@@50.4565563,4.8524654,17z/data=!3m1!4b1!4m5!3m4!1s0x47c19973e8596431:0x98a26e3bb7886506!8m2!3d50.4565563!4d4.8546541">Route Merveilleuse 71, 5000 Namur</a>.
        </p>
        <p>
        Retrouvez-nous ensuite à 12h00 pour l'apéritif, suivi d'un dîner, à La Bergerie de Lives-sur-Meuse, <a href="https://www.google.be/maps/place/La+Bergerie+de+Lives-sur-Meuse/@@50.4754954,4.9639276,17z/data=!3m1!4b1!4m8!3m7!1s0x47c1a216a3d5cc41:0xe55a0769f024af25!5m2!4m1!1i2!8m2!3d50.4754954!4d4.9661163">Rue de Mosanville 100, 5101 Namur</a>.
        </p>
        <p>Vous êtes également convié au buffet du soir ainsi qu'à la soirée dansante.</p>
    }
    else
    {
        <p>Nous vous donnons rendez-vous à 18h pour l'apéritif, suivi d'un buffet et d'une soirée dansante,<br/> à La Bergerie de Lives-sur-Meuse, <a href="https://www.google.be/maps/place/La+Bergerie+de+Lives-sur-Meuse/@@50.4754954,4.9639276,17z/data=!3m1!4b1!4m8!3m7!1s0x47c1a216a3d5cc41:0xe55a0769f024af25!5m2!4m1!1i2!8m2!3d50.4754954!4d4.9661163">Rue de Mosanville 100, 5101 Namur</a>.</p>
    }
    @if(!user.Participation.CompletedForm)
    {
        <p>Merci de confirmer votre présence via le formulaire en dessous de la page.</p>
    }
    <div class="image"><img src="~/images/labergerie.jpg" alg="La Bergerie"/></div>
    @if (user.Participation.CompletedForm)
    {

    }
    else
    {
        @if(user.Participation.IsInvitedToLunch)
        {
            <div class="field">
                @Html.LabelFor(i => i.WillAttendLunch)
                @Html.EditorFor(i => i.WillAttendLunch)
            </div>
        }
        <div class="field">
            @Html.LabelFor(i => i.WillAttendDinner)
            @Html.EditorFor(i => i.WillAttendDinner)
        </div>
        @if(user.Participation.CanBringPlusOne)
        {
            <div class="field">
                @Html.LabelFor(i => i.HasPlusOne)
                @Html.CheckBoxFor(i => i.HasPlusOne, new{onchange="hasPlusOneChange(this);"})        
            </div>    
            @if(user.Participation.IsInvitedToLunch)
            {
                <div id="plusone" class="field hidden">
                    @Html.LabelFor(i=> i.PlusOne)
                    @Html.EditorFor(i => i.PlusOne)
                </div>
            }
        }
    }
}
else
{
    
}

@section scripts {
    <script src="~/script/info.js" asp-append-version="true">        
    </script>
}